*.mp4
.DS_Store
token.json
yt_dlp_download.log
client_secret.json
*.log
/downloads
/notes
readvideo.sqlite3
apiKey.json
.env
.env.*
!config/env.example
/__pycache__
__pycache__/
%(upload_date)s-%(title)s_transcription.txt
.venv/
*.pyc
*.wav
*_chunk_*.wav
*_transcription.txt
models/
tmp/
